body{
    background-color: rgb(126, 124, 124)!important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.cardd {
    border-radius: 10px;
    padding: 30px;

}
