<button data-fetch>
	Fetch
</button>

<div class="text-center">
	<img src="img/instagram-brands.svg" width="100px" height="100px">
</div>

<div class="row">

	<h2 class="text-center">Instagram</h2>


</div>



<div class="d-flex justify-content-center">
	<form class="d-flex flex-column align-items-rigth" action="/lentapost" method="POST">
		<div class="mb-3">
			<img class="img-fluid">
			<input name="photo" placeholder="Ваше фото" class="form-control">
		</div>
		<div class="mb-3">
			<input name="name" placeholder="Ваше имя" type="text" class="form-control">
		</div>
		<div class="mb-3">
			<input name="post" placeholder="Ваше сообщение" type="text" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Отправить</button>
	</form>
</div>
</div>

<hr />



<section data-card >
	<div class="grid">
		{{#each listOfPeople}}
		<div class="cardd">
			<div data-id="{{this.id}}" class="card my-2" >
				<img src="{{this.photo}}" class="card-img-top mt-2" class="photo" >

				<div class="card-body">
					<h5 class="card-title">{{this.name}}</h5>
					<p class="card-text">{{this.post}}</p>
					<button data-action="delete" type="submit" class="btn btn-dark">Удалить</button>
					

				</div>
			</div>
		</div>
		{{/each}}

	</div>

</section>